*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#10101E ;
}

/* background */

html, body {
    height: 100%;
  }
  
  body {
    background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
    background-size: cover;
  }
  
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 17s, 8423ms;
    animation-delay: 0ms, 5677ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-22vw) translateY(47vh) scale(0.3);
    }
    3.5714285714% {
      transform: translateX(40vw) translateY(-33vh) scale(0.76);
    }
    7.1428571429% {
      transform: translateX(25vw) translateY(5vh) scale(0.74);
    }
    10.7142857143% {
      transform: translateX(-18vw) translateY(-6vh) scale(0.53);
    }
    14.2857142857% {
      transform: translateX(24vw) translateY(1vh) scale(0.37);
    }
    17.8571428571% {
      transform: translateX(-8vw) translateY(-41vh) scale(0.44);
    }
    21.4285714286% {
      transform: translateX(-45vw) translateY(37vh) scale(0.87);
    }
    25% {
      transform: translateX(-40vw) translateY(29vh) scale(0.56);
    }
    28.5714285714% {
      transform: translateX(18vw) translateY(27vh) scale(0.4);
    }
    32.1428571429% {
      transform: translateX(34vw) translateY(-23vh) scale(0.37);
    }
    35.7142857143% {
      transform: translateX(-29vw) translateY(8vh) scale(0.51);
    }
    39.2857142857% {
      transform: translateX(42vw) translateY(-10vh) scale(0.72);
    }
    42.8571428571% {
      transform: translateX(-34vw) translateY(-37vh) scale(0.9);
    }
    46.4285714286% {
      transform: translateX(-4vw) translateY(4vh) scale(0.97);
    }
    50% {
      transform: translateX(-40vw) translateY(22vh) scale(0.44);
    }
    53.5714285714% {
      transform: translateX(-21vw) translateY(-34vh) scale(0.32);
    }
    57.1428571429% {
      transform: translateX(45vw) translateY(-27vh) scale(0.99);
    }
    60.7142857143% {
      transform: translateX(-36vw) translateY(21vh) scale(0.55);
    }
    64.2857142857% {
      transform: translateX(-37vw) translateY(-25vh) scale(0.67);
    }
    67.8571428571% {
      transform: translateX(47vw) translateY(27vh) scale(0.8);
    }
    71.4285714286% {
      transform: translateX(44vw) translateY(18vh) scale(0.63);
    }
    75% {
      transform: translateX(-2vw) translateY(30vh) scale(0.81);
    }
    78.5714285714% {
      transform: translateX(3vw) translateY(14vh) scale(0.5);
    }
    82.1428571429% {
      transform: translateX(-5vw) translateY(-47vh) scale(0.65);
    }
    85.7142857143% {
      transform: translateX(-13vw) translateY(-3vh) scale(0.66);
    }
    89.2857142857% {
      transform: translateX(-9vw) translateY(-40vh) scale(0.53);
    }
    92.8571428571% {
      transform: translateX(-11vw) translateY(-18vh) scale(0.89);
    }
    96.4285714286% {
      transform: translateX(-21vw) translateY(18vh) scale(0.86);
    }
    100% {
      transform: translateX(11vw) translateY(-38vh) scale(0.84);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 18s, 9908ms;
    animation-delay: 0ms, 2798ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(-41vw) translateY(-3vh) scale(0.37);
    }
    5.8823529412% {
      transform: translateX(-2vw) translateY(5vh) scale(0.69);
    }
    11.7647058824% {
      transform: translateX(37vw) translateY(-46vh) scale(0.6);
    }
    17.6470588235% {
      transform: translateX(43vw) translateY(36vh) scale(0.72);
    }
    23.5294117647% {
      transform: translateX(-42vw) translateY(5vh) scale(0.9);
    }
    29.4117647059% {
      transform: translateX(22vw) translateY(32vh) scale(0.56);
    }
    35.2941176471% {
      transform: translateX(-29vw) translateY(36vh) scale(0.77);
    }
    41.1764705882% {
      transform: translateX(15vw) translateY(-3vh) scale(0.47);
    }
    47.0588235294% {
      transform: translateX(-26vw) translateY(46vh) scale(0.44);
    }
    52.9411764706% {
      transform: translateX(48vw) translateY(12vh) scale(0.51);
    }
    58.8235294118% {
      transform: translateX(37vw) translateY(23vh) scale(0.33);
    }
    64.7058823529% {
      transform: translateX(10vw) translateY(-32vh) scale(1);
    }
    70.5882352941% {
      transform: translateX(22vw) translateY(-22vh) scale(0.26);
    }
    76.4705882353% {
      transform: translateX(18vw) translateY(-39vh) scale(0.67);
    }
    82.3529411765% {
      transform: translateX(0vw) translateY(49vh) scale(0.97);
    }
    88.2352941176% {
      transform: translateX(-13vw) translateY(35vh) scale(0.62);
    }
    94.1176470588% {
      transform: translateX(-43vw) translateY(-31vh) scale(0.36);
    }
    100% {
      transform: translateX(26vw) translateY(-23vh) scale(0.83);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 13s, 8105ms;
    animation-delay: 0ms, 8349ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(-18vw) translateY(41vh) scale(0.36);
    }
    4.7619047619% {
      transform: translateX(20vw) translateY(-8vh) scale(0.96);
    }
    9.5238095238% {
      transform: translateX(-28vw) translateY(26vh) scale(0.51);
    }
    14.2857142857% {
      transform: translateX(15vw) translateY(-21vh) scale(0.38);
    }
    19.0476190476% {
      transform: translateX(-11vw) translateY(11vh) scale(0.71);
    }
    23.8095238095% {
      transform: translateX(-34vw) translateY(27vh) scale(0.37);
    }
    28.5714285714% {
      transform: translateX(-5vw) translateY(7vh) scale(0.77);
    }
    33.3333333333% {
      transform: translateX(-5vw) translateY(29vh) scale(0.39);
    }
    38.0952380952% {
      transform: translateX(1vw) translateY(-24vh) scale(0.87);
    }
    42.8571428571% {
      transform: translateX(15vw) translateY(5vh) scale(0.6);
    }
    47.619047619% {
      transform: translateX(40vw) translateY(30vh) scale(0.8);
    }
    52.380952381% {
      transform: translateX(-22vw) translateY(-45vh) scale(0.43);
    }
    57.1428571429% {
      transform: translateX(-39vw) translateY(-8vh) scale(0.98);
    }
    61.9047619048% {
      transform: translateX(-34vw) translateY(-26vh) scale(0.96);
    }
    66.6666666667% {
      transform: translateX(-1vw) translateY(25vh) scale(0.44);
    }
    71.4285714286% {
      transform: translateX(-23vw) translateY(-45vh) scale(0.89);
    }
    76.1904761905% {
      transform: translateX(42vw) translateY(-33vh) scale(0.64);
    }
    80.9523809524% {
      transform: translateX(-6vw) translateY(-48vh) scale(0.82);
    }
    85.7142857143% {
      transform: translateX(-31vw) translateY(-26vh) scale(0.97);
    }
    90.4761904762% {
      transform: translateX(-22vw) translateY(42vh) scale(0.26);
    }
    95.2380952381% {
      transform: translateX(1vw) translateY(37vh) scale(0.43);
    }
    100% {
      transform: translateX(1vw) translateY(13vh) scale(0.75);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 11s, 8485ms;
    animation-delay: 0ms, 7416ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(-28vw) translateY(33vh) scale(0.43);
    }
    5.8823529412% {
      transform: translateX(37vw) translateY(-31vh) scale(0.29);
    }
    11.7647058824% {
      transform: translateX(47vw) translateY(-48vh) scale(0.69);
    }
    17.6470588235% {
      transform: translateX(-16vw) translateY(-25vh) scale(0.52);
    }
    23.5294117647% {
      transform: translateX(40vw) translateY(31vh) scale(0.49);
    }
    29.4117647059% {
      transform: translateX(0vw) translateY(19vh) scale(0.98);
    }
    35.2941176471% {
      transform: translateX(3vw) translateY(-25vh) scale(0.76);
    }
    41.1764705882% {
      transform: translateX(49vw) translateY(50vh) scale(0.52);
    }
    47.0588235294% {
      transform: translateX(1vw) translateY(3vh) scale(0.62);
    }
    52.9411764706% {
      transform: translateX(0vw) translateY(9vh) scale(0.43);
    }
    58.8235294118% {
      transform: translateX(-18vw) translateY(45vh) scale(0.26);
    }
    64.7058823529% {
      transform: translateX(-32vw) translateY(-19vh) scale(0.94);
    }
    70.5882352941% {
      transform: translateX(33vw) translateY(7vh) scale(0.66);
    }
    76.4705882353% {
      transform: translateX(-18vw) translateY(39vh) scale(0.96);
    }
    82.3529411765% {
      transform: translateX(-28vw) translateY(2vh) scale(0.49);
    }
    88.2352941176% {
      transform: translateX(0vw) translateY(29vh) scale(0.68);
    }
    94.1176470588% {
      transform: translateX(-6vw) translateY(-9vh) scale(0.67);
    }
    100% {
      transform: translateX(22vw) translateY(8vh) scale(0.45);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 16s, 7888ms;
    animation-delay: 0ms, 3398ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(40vw) translateY(4vh) scale(1);
    }
    4% {
      transform: translateX(-9vw) translateY(11vh) scale(0.61);
    }
    8% {
      transform: translateX(-33vw) translateY(5vh) scale(0.47);
    }
    12% {
      transform: translateX(-19vw) translateY(-40vh) scale(0.55);
    }
    16% {
      transform: translateX(-8vw) translateY(31vh) scale(0.77);
    }
    20% {
      transform: translateX(32vw) translateY(46vh) scale(0.88);
    }
    24% {
      transform: translateX(3vw) translateY(-47vh) scale(0.8);
    }
    28% {
      transform: translateX(30vw) translateY(50vh) scale(0.38);
    }
    32% {
      transform: translateX(35vw) translateY(9vh) scale(0.42);
    }
    36% {
      transform: translateX(14vw) translateY(13vh) scale(0.63);
    }
    40% {
      transform: translateX(-33vw) translateY(30vh) scale(0.81);
    }
    44% {
      transform: translateX(50vw) translateY(-25vh) scale(0.28);
    }
    48% {
      transform: translateX(-32vw) translateY(48vh) scale(0.77);
    }
    52% {
      transform: translateX(-1vw) translateY(-10vh) scale(0.37);
    }
    56% {
      transform: translateX(-37vw) translateY(-2vh) scale(0.46);
    }
    60% {
      transform: translateX(-12vw) translateY(41vh) scale(0.6);
    }
    64% {
      transform: translateX(7vw) translateY(10vh) scale(0.31);
    }
    68% {
      transform: translateX(22vw) translateY(25vh) scale(0.35);
    }
    72% {
      transform: translateX(44vw) translateY(-12vh) scale(0.38);
    }
    76% {
      transform: translateX(-15vw) translateY(-49vh) scale(0.62);
    }
    80% {
      transform: translateX(-17vw) translateY(45vh) scale(0.49);
    }
    84% {
      transform: translateX(38vw) translateY(44vh) scale(0.76);
    }
    88% {
      transform: translateX(-22vw) translateY(-27vh) scale(0.42);
    }
    92% {
      transform: translateX(31vw) translateY(38vh) scale(0.66);
    }
    96% {
      transform: translateX(-47vw) translateY(14vh) scale(0.72);
    }
    100% {
      transform: translateX(18vw) translateY(7vh) scale(0.86);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 16s, 10834ms;
    animation-delay: 0ms, 1748ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(47vw) translateY(6vh) scale(0.98);
    }
    5% {
      transform: translateX(-9vw) translateY(45vh) scale(1);
    }
    10% {
      transform: translateX(49vw) translateY(-36vh) scale(0.92);
    }
    15% {
      transform: translateX(37vw) translateY(16vh) scale(0.67);
    }
    20% {
      transform: translateX(-21vw) translateY(-22vh) scale(0.93);
    }
    25% {
      transform: translateX(-13vw) translateY(-22vh) scale(0.9);
    }
    30% {
      transform: translateX(-49vw) translateY(44vh) scale(0.31);
    }
    35% {
      transform: translateX(41vw) translateY(-38vh) scale(0.85);
    }
    40% {
      transform: translateX(-28vw) translateY(32vh) scale(0.81);
    }
    45% {
      transform: translateX(18vw) translateY(42vh) scale(0.64);
    }
    50% {
      transform: translateX(48vw) translateY(-6vh) scale(0.8);
    }
    55% {
      transform: translateX(38vw) translateY(0vh) scale(0.78);
    }
    60% {
      transform: translateX(-28vw) translateY(-33vh) scale(0.69);
    }
    65% {
      transform: translateX(50vw) translateY(-47vh) scale(0.94);
    }
    70% {
      transform: translateX(-23vw) translateY(-2vh) scale(0.8);
    }
    75% {
      transform: translateX(1vw) translateY(-17vh) scale(0.38);
    }
    80% {
      transform: translateX(27vw) translateY(21vh) scale(0.44);
    }
    85% {
      transform: translateX(-31vw) translateY(45vh) scale(0.77);
    }
    90% {
      transform: translateX(31vw) translateY(-6vh) scale(0.88);
    }
    95% {
      transform: translateX(-19vw) translateY(-40vh) scale(0.27);
    }
    100% {
      transform: translateX(7vw) translateY(-10vh) scale(0.53);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 16s, 7628ms;
    animation-delay: 0ms, 6592ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(-30vw) translateY(15vh) scale(0.39);
    }
    5.8823529412% {
      transform: translateX(-8vw) translateY(23vh) scale(0.41);
    }
    11.7647058824% {
      transform: translateX(-5vw) translateY(28vh) scale(0.33);
    }
    17.6470588235% {
      transform: translateX(24vw) translateY(29vh) scale(0.96);
    }
    23.5294117647% {
      transform: translateX(-42vw) translateY(-19vh) scale(0.67);
    }
    29.4117647059% {
      transform: translateX(-6vw) translateY(11vh) scale(0.46);
    }
    35.2941176471% {
      transform: translateX(50vw) translateY(-20vh) scale(0.54);
    }
    41.1764705882% {
      transform: translateX(-40vw) translateY(32vh) scale(0.98);
    }
    47.0588235294% {
      transform: translateX(-10vw) translateY(-11vh) scale(0.88);
    }
    52.9411764706% {
      transform: translateX(-45vw) translateY(10vh) scale(0.56);
    }
    58.8235294118% {
      transform: translateX(49vw) translateY(-13vh) scale(0.3);
    }
    64.7058823529% {
      transform: translateX(29vw) translateY(29vh) scale(0.65);
    }
    70.5882352941% {
      transform: translateX(-42vw) translateY(49vh) scale(0.6);
    }
    76.4705882353% {
      transform: translateX(-48vw) translateY(-20vh) scale(0.91);
    }
    82.3529411765% {
      transform: translateX(-42vw) translateY(-42vh) scale(0.64);
    }
    88.2352941176% {
      transform: translateX(-43vw) translateY(-43vh) scale(0.42);
    }
    94.1176470588% {
      transform: translateX(-28vw) translateY(-36vh) scale(0.88);
    }
    100% {
      transform: translateX(-22vw) translateY(-41vh) scale(0.34);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 9s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 9s, 10212ms;
    animation-delay: 0ms, 7132ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-19vw) translateY(11vh) scale(0.49);
    }
    3.7037037037% {
      transform: translateX(-36vw) translateY(11vh) scale(0.69);
    }
    7.4074074074% {
      transform: translateX(-21vw) translateY(50vh) scale(0.37);
    }
    11.1111111111% {
      transform: translateX(-38vw) translateY(-27vh) scale(0.89);
    }
    14.8148148148% {
      transform: translateX(-47vw) translateY(-45vh) scale(0.5);
    }
    18.5185185185% {
      transform: translateX(50vw) translateY(25vh) scale(0.6);
    }
    22.2222222222% {
      transform: translateX(4vw) translateY(29vh) scale(0.73);
    }
    25.9259259259% {
      transform: translateX(-34vw) translateY(41vh) scale(0.58);
    }
    29.6296296296% {
      transform: translateX(-49vw) translateY(7vh) scale(0.61);
    }
    33.3333333333% {
      transform: translateX(-5vw) translateY(38vh) scale(0.44);
    }
    37.037037037% {
      transform: translateX(-47vw) translateY(50vh) scale(0.33);
    }
    40.7407407407% {
      transform: translateX(13vw) translateY(-31vh) scale(0.35);
    }
    44.4444444444% {
      transform: translateX(30vw) translateY(-47vh) scale(0.73);
    }
    48.1481481481% {
      transform: translateX(-15vw) translateY(-17vh) scale(0.78);
    }
    51.8518518519% {
      transform: translateX(-13vw) translateY(34vh) scale(0.69);
    }
    55.5555555556% {
      transform: translateX(-23vw) translateY(40vh) scale(0.95);
    }
    59.2592592593% {
      transform: translateX(50vw) translateY(22vh) scale(0.26);
    }
    62.962962963% {
      transform: translateX(-12vw) translateY(4vh) scale(0.35);
    }
    66.6666666667% {
      transform: translateX(45vw) translateY(-31vh) scale(0.57);
    }
    70.3703703704% {
      transform: translateX(-23vw) translateY(-30vh) scale(0.7);
    }
    74.0740740741% {
      transform: translateX(-21vw) translateY(50vh) scale(0.63);
    }
    77.7777777778% {
      transform: translateX(-43vw) translateY(-26vh) scale(0.45);
    }
    81.4814814815% {
      transform: translateX(-29vw) translateY(-34vh) scale(0.45);
    }
    85.1851851852% {
      transform: translateX(13vw) translateY(26vh) scale(0.52);
    }
    88.8888888889% {
      transform: translateX(-41vw) translateY(18vh) scale(0.27);
    }
    92.5925925926% {
      transform: translateX(48vw) translateY(26vh) scale(0.28);
    }
    96.2962962963% {
      transform: translateX(-12vw) translateY(34vh) scale(0.48);
    }
    100% {
      transform: translateX(38vw) translateY(20vh) scale(0.52);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 10s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 10s, 9560ms;
    animation-delay: 0ms, 6846ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(-39vw) translateY(35vh) scale(0.5);
    }
    4.7619047619% {
      transform: translateX(37vw) translateY(-33vh) scale(0.91);
    }
    9.5238095238% {
      transform: translateX(5vw) translateY(-38vh) scale(0.26);
    }
    14.2857142857% {
      transform: translateX(-17vw) translateY(-4vh) scale(0.65);
    }
    19.0476190476% {
      transform: translateX(42vw) translateY(-7vh) scale(0.26);
    }
    23.8095238095% {
      transform: translateX(20vw) translateY(35vh) scale(0.6);
    }
    28.5714285714% {
      transform: translateX(34vw) translateY(-6vh) scale(0.95);
    }
    33.3333333333% {
      transform: translateX(-14vw) translateY(-5vh) scale(0.57);
    }
    38.0952380952% {
      transform: translateX(9vw) translateY(-25vh) scale(0.78);
    }
    42.8571428571% {
      transform: translateX(-11vw) translateY(29vh) scale(0.28);
    }
    47.619047619% {
      transform: translateX(-11vw) translateY(-13vh) scale(0.75);
    }
    52.380952381% {
      transform: translateX(-27vw) translateY(-45vh) scale(0.56);
    }
    57.1428571429% {
      transform: translateX(4vw) translateY(-12vh) scale(0.28);
    }
    61.9047619048% {
      transform: translateX(10vw) translateY(27vh) scale(0.95);
    }
    66.6666666667% {
      transform: translateX(21vw) translateY(28vh) scale(0.76);
    }
    71.4285714286% {
      transform: translateX(-17vw) translateY(25vh) scale(0.31);
    }
    76.1904761905% {
      transform: translateX(-14vw) translateY(-37vh) scale(0.39);
    }
    80.9523809524% {
      transform: translateX(-29vw) translateY(36vh) scale(0.73);
    }
    85.7142857143% {
      transform: translateX(-28vw) translateY(22vh) scale(0.3);
    }
    90.4761904762% {
      transform: translateX(35vw) translateY(18vh) scale(0.44);
    }
    95.2380952381% {
      transform: translateX(-31vw) translateY(16vh) scale(0.33);
    }
    100% {
      transform: translateX(-43vw) translateY(-44vh) scale(0.52);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 17s, 9568ms;
    animation-delay: 0ms, 1790ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(16vw) translateY(38vh) scale(0.28);
    }
    5.8823529412% {
      transform: translateX(29vw) translateY(42vh) scale(0.34);
    }
    11.7647058824% {
      transform: translateX(40vw) translateY(-18vh) scale(0.39);
    }
    17.6470588235% {
      transform: translateX(-12vw) translateY(30vh) scale(0.61);
    }
    23.5294117647% {
      transform: translateX(14vw) translateY(26vh) scale(0.82);
    }
    29.4117647059% {
      transform: translateX(-46vw) translateY(5vh) scale(0.41);
    }
    35.2941176471% {
      transform: translateX(-17vw) translateY(11vh) scale(0.45);
    }
    41.1764705882% {
      transform: translateX(12vw) translateY(-13vh) scale(0.99);
    }
    47.0588235294% {
      transform: translateX(7vw) translateY(-43vh) scale(0.77);
    }
    52.9411764706% {
      transform: translateX(-23vw) translateY(-46vh) scale(0.45);
    }
    58.8235294118% {
      transform: translateX(-6vw) translateY(-4vh) scale(0.57);
    }
    64.7058823529% {
      transform: translateX(0vw) translateY(43vh) scale(0.45);
    }
    70.5882352941% {
      transform: translateX(15vw) translateY(28vh) scale(0.65);
    }
    76.4705882353% {
      transform: translateX(-8vw) translateY(-11vh) scale(0.9);
    }
    82.3529411765% {
      transform: translateX(14vw) translateY(39vh) scale(0.89);
    }
    88.2352941176% {
      transform: translateX(12vw) translateY(7vh) scale(0.75);
    }
    94.1176470588% {
      transform: translateX(-8vw) translateY(8vh) scale(0.26);
    }
    100% {
      transform: translateX(25vw) translateY(12vh) scale(0.51);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 18s, 8759ms;
    animation-delay: 0ms, 2904ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(15vw) translateY(-43vh) scale(0.41);
    }
    5.5555555556% {
      transform: translateX(26vw) translateY(-48vh) scale(0.69);
    }
    11.1111111111% {
      transform: translateX(-30vw) translateY(-41vh) scale(0.99);
    }
    16.6666666667% {
      transform: translateX(23vw) translateY(31vh) scale(0.68);
    }
    22.2222222222% {
      transform: translateX(31vw) translateY(34vh) scale(0.61);
    }
    27.7777777778% {
      transform: translateX(-8vw) translateY(-3vh) scale(0.92);
    }
    33.3333333333% {
      transform: translateX(-22vw) translateY(42vh) scale(0.88);
    }
    38.8888888889% {
      transform: translateX(-41vw) translateY(-44vh) scale(0.89);
    }
    44.4444444444% {
      transform: translateX(28vw) translateY(-22vh) scale(0.79);
    }
    50% {
      transform: translateX(16vw) translateY(7vh) scale(0.35);
    }
    55.5555555556% {
      transform: translateX(-25vw) translateY(-43vh) scale(0.58);
    }
    61.1111111111% {
      transform: translateX(46vw) translateY(30vh) scale(0.59);
    }
    66.6666666667% {
      transform: translateX(-8vw) translateY(-48vh) scale(0.75);
    }
    72.2222222222% {
      transform: translateX(-37vw) translateY(12vh) scale(0.36);
    }
    77.7777777778% {
      transform: translateX(38vw) translateY(3vh) scale(0.31);
    }
    83.3333333333% {
      transform: translateX(-48vw) translateY(-6vh) scale(0.92);
    }
    88.8888888889% {
      transform: translateX(28vw) translateY(38vh) scale(0.76);
    }
    94.4444444444% {
      transform: translateX(11vw) translateY(-13vh) scale(0.71);
    }
    100% {
      transform: translateX(13vw) translateY(-25vh) scale(0.44);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 14s, 6342ms;
    animation-delay: 0ms, 1850ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(43vw) translateY(-7vh) scale(0.68);
    }
    5% {
      transform: translateX(-32vw) translateY(-27vh) scale(0.6);
    }
    10% {
      transform: translateX(6vw) translateY(-47vh) scale(0.74);
    }
    15% {
      transform: translateX(1vw) translateY(-36vh) scale(0.99);
    }
    20% {
      transform: translateX(-3vw) translateY(-19vh) scale(0.33);
    }
    25% {
      transform: translateX(23vw) translateY(-45vh) scale(0.44);
    }
    30% {
      transform: translateX(44vw) translateY(36vh) scale(0.96);
    }
    35% {
      transform: translateX(29vw) translateY(-27vh) scale(0.92);
    }
    40% {
      transform: translateX(50vw) translateY(-40vh) scale(0.66);
    }
    45% {
      transform: translateX(-29vw) translateY(-18vh) scale(0.29);
    }
    50% {
      transform: translateX(-20vw) translateY(40vh) scale(0.84);
    }
    55% {
      transform: translateX(11vw) translateY(-37vh) scale(0.68);
    }
    60% {
      transform: translateX(23vw) translateY(-32vh) scale(0.56);
    }
    65% {
      transform: translateX(-44vw) translateY(5vh) scale(0.95);
    }
    70% {
      transform: translateX(-44vw) translateY(41vh) scale(0.56);
    }
    75% {
      transform: translateX(-20vw) translateY(-8vh) scale(0.63);
    }
    80% {
      transform: translateX(41vw) translateY(-24vh) scale(0.28);
    }
    85% {
      transform: translateX(17vw) translateY(-8vh) scale(0.41);
    }
    90% {
      transform: translateX(3vw) translateY(-48vh) scale(0.82);
    }
    95% {
      transform: translateX(9vw) translateY(-29vh) scale(0.92);
    }
    100% {
      transform: translateX(38vw) translateY(-46vh) scale(0.32);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 13s, 6629ms;
    animation-delay: 0ms, 7614ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(26vw) translateY(-19vh) scale(0.99);
    }
    4.1666666667% {
      transform: translateX(28vw) translateY(-21vh) scale(0.78);
    }
    8.3333333333% {
      transform: translateX(-32vw) translateY(3vh) scale(0.52);
    }
    12.5% {
      transform: translateX(-25vw) translateY(14vh) scale(0.63);
    }
    16.6666666667% {
      transform: translateX(18vw) translateY(37vh) scale(0.72);
    }
    20.8333333333% {
      transform: translateX(-41vw) translateY(-27vh) scale(0.94);
    }
    25% {
      transform: translateX(-47vw) translateY(-45vh) scale(0.28);
    }
    29.1666666667% {
      transform: translateX(37vw) translateY(47vh) scale(0.51);
    }
    33.3333333333% {
      transform: translateX(-42vw) translateY(-10vh) scale(0.73);
    }
    37.5% {
      transform: translateX(-43vw) translateY(39vh) scale(0.39);
    }
    41.6666666667% {
      transform: translateX(-2vw) translateY(2vh) scale(0.73);
    }
    45.8333333333% {
      transform: translateX(26vw) translateY(22vh) scale(0.42);
    }
    50% {
      transform: translateX(9vw) translateY(15vh) scale(0.98);
    }
    54.1666666667% {
      transform: translateX(-18vw) translateY(-44vh) scale(0.87);
    }
    58.3333333333% {
      transform: translateX(28vw) translateY(31vh) scale(0.81);
    }
    62.5% {
      transform: translateX(34vw) translateY(-15vh) scale(1);
    }
    66.6666666667% {
      transform: translateX(1vw) translateY(1vh) scale(0.58);
    }
    70.8333333333% {
      transform: translateX(16vw) translateY(-17vh) scale(0.53);
    }
    75% {
      transform: translateX(-17vw) translateY(-4vh) scale(0.44);
    }
    79.1666666667% {
      transform: translateX(48vw) translateY(-25vh) scale(0.65);
    }
    83.3333333333% {
      transform: translateX(5vw) translateY(-10vh) scale(0.34);
    }
    87.5% {
      transform: translateX(-42vw) translateY(21vh) scale(0.96);
    }
    91.6666666667% {
      transform: translateX(7vw) translateY(-22vh) scale(0.89);
    }
    95.8333333333% {
      transform: translateX(5vw) translateY(-37vh) scale(0.71);
    }
    100% {
      transform: translateX(-1vw) translateY(-40vh) scale(0.64);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 14s, 6668ms;
    animation-delay: 0ms, 4485ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(-36vw) translateY(6vh) scale(0.82);
    }
    3.5714285714% {
      transform: translateX(-33vw) translateY(38vh) scale(0.76);
    }
    7.1428571429% {
      transform: translateX(-34vw) translateY(-19vh) scale(0.86);
    }
    10.7142857143% {
      transform: translateX(43vw) translateY(-28vh) scale(0.56);
    }
    14.2857142857% {
      transform: translateX(45vw) translateY(-38vh) scale(0.76);
    }
    17.8571428571% {
      transform: translateX(48vw) translateY(14vh) scale(0.6);
    }
    21.4285714286% {
      transform: translateX(-6vw) translateY(37vh) scale(0.52);
    }
    25% {
      transform: translateX(-10vw) translateY(10vh) scale(0.33);
    }
    28.5714285714% {
      transform: translateX(7vw) translateY(31vh) scale(0.5);
    }
    32.1428571429% {
      transform: translateX(-42vw) translateY(-37vh) scale(0.3);
    }
    35.7142857143% {
      transform: translateX(-19vw) translateY(48vh) scale(0.3);
    }
    39.2857142857% {
      transform: translateX(5vw) translateY(-1vh) scale(0.97);
    }
    42.8571428571% {
      transform: translateX(-12vw) translateY(13vh) scale(0.92);
    }
    46.4285714286% {
      transform: translateX(-25vw) translateY(4vh) scale(0.93);
    }
    50% {
      transform: translateX(34vw) translateY(26vh) scale(0.38);
    }
    53.5714285714% {
      transform: translateX(7vw) translateY(34vh) scale(0.83);
    }
    57.1428571429% {
      transform: translateX(-12vw) translateY(-43vh) scale(0.62);
    }
    60.7142857143% {
      transform: translateX(-3vw) translateY(-22vh) scale(0.93);
    }
    64.2857142857% {
      transform: translateX(22vw) translateY(22vh) scale(0.66);
    }
    67.8571428571% {
      transform: translateX(0vw) translateY(-9vh) scale(0.76);
    }
    71.4285714286% {
      transform: translateX(5vw) translateY(22vh) scale(0.52);
    }
    75% {
      transform: translateX(-6vw) translateY(42vh) scale(0.79);
    }
    78.5714285714% {
      transform: translateX(-42vw) translateY(34vh) scale(0.5);
    }
    82.1428571429% {
      transform: translateX(-29vw) translateY(49vh) scale(0.91);
    }
    85.7142857143% {
      transform: translateX(-47vw) translateY(-29vh) scale(0.81);
    }
    89.2857142857% {
      transform: translateX(40vw) translateY(39vh) scale(0.7);
    }
    92.8571428571% {
      transform: translateX(-29vw) translateY(-47vh) scale(0.65);
    }
    96.4285714286% {
      transform: translateX(24vw) translateY(-16vh) scale(0.59);
    }
    100% {
      transform: translateX(-21vw) translateY(-44vh) scale(0.27);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 17s, 8555ms;
    animation-delay: 0ms, 1535ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(33vw) translateY(-35vh) scale(0.63);
    }
    4.5454545455% {
      transform: translateX(-28vw) translateY(-41vh) scale(0.95);
    }
    9.0909090909% {
      transform: translateX(-38vw) translateY(15vh) scale(0.31);
    }
    13.6363636364% {
      transform: translateX(-49vw) translateY(39vh) scale(0.54);
    }
    18.1818181818% {
      transform: translateX(-14vw) translateY(-5vh) scale(0.78);
    }
    22.7272727273% {
      transform: translateX(41vw) translateY(43vh) scale(0.76);
    }
    27.2727272727% {
      transform: translateX(18vw) translateY(-47vh) scale(0.41);
    }
    31.8181818182% {
      transform: translateX(20vw) translateY(-8vh) scale(0.81);
    }
    36.3636363636% {
      transform: translateX(-32vw) translateY(16vh) scale(0.36);
    }
    40.9090909091% {
      transform: translateX(-43vw) translateY(31vh) scale(0.84);
    }
    45.4545454545% {
      transform: translateX(-15vw) translateY(18vh) scale(0.75);
    }
    50% {
      transform: translateX(-38vw) translateY(3vh) scale(0.78);
    }
    54.5454545455% {
      transform: translateX(-40vw) translateY(-5vh) scale(0.3);
    }
    59.0909090909% {
      transform: translateX(-30vw) translateY(11vh) scale(0.35);
    }
    63.6363636364% {
      transform: translateX(-48vw) translateY(22vh) scale(0.44);
    }
    68.1818181818% {
      transform: translateX(35vw) translateY(6vh) scale(0.79);
    }
    72.7272727273% {
      transform: translateX(-24vw) translateY(-46vh) scale(0.65);
    }
    77.2727272727% {
      transform: translateX(1vw) translateY(9vh) scale(0.99);
    }
    81.8181818182% {
      transform: translateX(11vw) translateY(-20vh) scale(0.45);
    }
    86.3636363636% {
      transform: translateX(37vw) translateY(35vh) scale(0.46);
    }
    90.9090909091% {
      transform: translateX(-36vw) translateY(-46vh) scale(0.65);
    }
    95.4545454545% {
      transform: translateX(38vw) translateY(-23vh) scale(0.9);
    }
    100% {
      transform: translateX(1vw) translateY(8vh) scale(0.96);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }

/* background */








/* Clock */
.datetime{
    color: white;
    background: rgba(16, 16, 30,0.6);
    font-family: 'Segoe UI', serif;
    width: 340px;
    padding: 15px 50px;
    border: 5px solid #2e94e3;
    border-radius: 5px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255,255,255,0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;


}
.datetime:hover{
    background: rgba(46, 148, 227,0.7);
    box-shadow: 0 0 30px #2e94e3;
}

.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #2e94e3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}